<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>映画タイトル</th>
      <th>公開年</th>
      <th>概要</th>
      <th>画像URL</th>
      <th>上映中か</th>
      <th>作成日時</th>
      <th>更新日時</th>
    </tr>
  </thead>
    <%= render @movies %>
  <tbody>
  </tbody>
</table>
